.header{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid white;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
  padding: 5px;

  background-color:cadetblue
 
    
}
ul li{
    list-style: none;
 
}

.topbar-list  a {
    text-decoration: none;
    color :white;
    
}