.header{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid white;
 
    
}
ul li{
    list-style: none;
 
}

.topbar-list  a {
    text-decoration: none;
    color :white;
    
}